.container{
    position: relative;
    width: 500px;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1) ;
    text-align: center;
    background-color: blue;
}

.login-ele{
    padding: 30px;
    margin: 20px;
}

label{
    display: block;
    padding: 6px;
    margin-bottom: 6px;
    margin-top: 20px;
    padding-right: 90px ;
}

input{
    height: 40px;
}

button{
    margin: 20px;
}