#image{
    height: 200px;
    width: 200px;
}

@media screen and (min-width:800px){
    .content {
        display: flex;
        justify-content: space-between;
    }

    .text{
        height: 500px;
        width: 500px;
    }
}

